# Binaries
**/bin/
bin-int/

# Volition files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Runa/assets/cache
scripts/__pycache__
.gitignore
.gitignore
.gitignore

